<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juan.ensayopsptspmt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
            <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.TabedActivity"
            android:label="@string/title_activity_tabed"
            android:parentActivityName=".actividades.Segunda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actividades.Segunda"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".actividades.Tercera"
            android:parentActivityName=".actividades.Segunda" />
        <activity
            android:name=".actividades.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>